<!-- <input
  (keyup.enter)="createPost(title)"
  #title
  type="text" 
  class="form-control"> -->
  <button 
  (click)="createPost()"
  class="btn btn-default btn-sm">Add</button>
  <table class="table">
    <thead>
    <tr>
      <!-- <th> No </th> -->
      <th> Name </th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr  class="table_hover" *ngFor="let post of posts">
        <!-- <td>{{$index+1}}</td> -->
        <td><input type="text" class="form-control"[(ngModel)]="post.name"></td>
        <td><input type="text" class="form-control"[(ngModel)]="post.email"></td>
        <td><input type="text" class="form-control"[(ngModel)]="post.address"></td>
        <td><input type="text" class="form-control"[(ngModel)]="post.phone"></td>
        <td><button 
          (click)="updatePost(post)"
          class="btn btn-default btn-sm">Update</button>
          <button 
          (click)="deletePost(post.id)"
          class="btn btn-default btn-sm">Delete</button></td>
        </tr>
    </tbody>

</table>
<!-- <ul class="list-group">  
  <li 
    *ngFor="let post of posts"
    class="list-group-item">
    <span>Name  :</span><input type="text" 
    class="form-control"[(ngModel)]="post.name"><br>
    <span>Email :</span><input type="text" 
    class="form-control"[(ngModel)]="post.email"><br>
    <span>Address :</span><input type="text" 
    class="form-control"[(ngModel)]="post.address"><br>
    <span>Phone :</span><input type="text" 
    class="form-control" [(ngModel)]="post.phone"><br>
    <button 
    (click)="updatePost(post)"
    class="btn btn-default btn-sm">Update</button>
    <button 
    (click)="deletePost(post.id)"
    class="btn btn-default btn-sm">Delete</button>
  </li>
</ul> -->

<!-- <ul class="list-group"> -->
    <!-- <li 
      *ngFor="let post of posts2"
      class="list-group-item">
      <button 
      (click)="updatePost(title,post)"
      class="btn btn-default btn-sm">Update</button>
      <button 
      (click)="deletePost(post)"
      class="btn btn-default btn-sm">Delete</button>
      <img src="{{ post.imageUrl }}" width="150px"> {{ post.name }}
    </li>
  </ul> -->